<div class="container-login df aic jcc">
  <div class="container-login-left df fdc aic jcc">
    <div class="container-login-left--title df aic jcc">
      <h2>Login</h2>
    </div>
    <form class="df fdc" action="/auth/login" method="POST">
      <label for="auth-email">Email</label>
      <input id="auth-email" type="email" name="email" />

      <label for="auth-password">Password</label>
      <input id="auth-password" type="password" name="password" />

      <button type="submit" value="Log In">Login</button>
    </form>
  </div>
  <div class="container-sign-up-right df aic jcsb fdc">
    <h2 class="container-sign-up-right--title df aic jcc">Welcome Back</h2>
    <p class="container-sign-up-right--description df jcc">
      My Chronicles is an easy to use application to chronicle your life. We have set up 6 of the
      most important questions that will help you reach your goals. No more writer's block, just be
      honest and you will have success!
    </p>
  </div>
</div>
