<div class="container-sign-up df aic jcc">
  <div class="container-sign-up-left df fdc aic jcc">
    <div class="container-sign-up-left--title df aic jcc">
      <h2>Sign Up</h2>
    </div>
    <form class="df fdc" action="/auth/signup" method="POST">
      <label for="new-name">Name</label>
      <input id="new-name" type="text" name="name" />

      <label for="new-email">Email</label>
      <input id="new-email" type="email" name="email" />

      <label for="new-password">Password</label>
      <input id="new-password" type="password" name="password" />

      <button type="submit" value="Sign up">Sign up</button>
    </form>
  </div>
  <div class="container-sign-up-right df aic jcsb fdc">
    <h2 class="container-sign-up-right--title df aic jcc">Welcome to My Chronicles</h2>
    <p class="container-sign-up-right--description df jcsf ph6">
      My Chronicles is an easy to use application to chronicle your life. We have set up 6 of the
      most important questions that will help you reach your goals. No more writer's block, just be
      honest and you will have success!
    </p>
    <div class="container-sign-up-right--login ft3 ph2">
      Already have an account? <a class="fw7" href="/auth/login"> Login Here</a>
    </div>
  </div>
</div>
