<main class="main-content df">
  <%- include('./partials/nav.ejs') %>
  <!-- Entry Part of Site -->
  <section class="grid-container">
    <div class="grid-container--form">
      <form action="/entry" method="POST" class="frame ph6 pt6 df jcc aic form1">
        <div class="grid-container-textarea blk mr3">
          <label for="text" class="ft5">Today's Wins:</label>
          <textarea type="text" name="wins" cols="50" rows="6" class="mt1"></textarea>
        </div>
        <div class="grid-container-textarea blk">
          <label for="text" class="i100 ft5 mb1">Today's Allies:</label>
          <textarea type="text" name="allies" cols="50" rows="6" class="mt1"></textarea>
        </div>
        <div class="grid-container-textarea blk mr3">
          <label for="text" class="i100 ft5 mb1">Personal Growth:</label>
          <textarea type="text" name="growth" cols="50" rows="6" class="mt1"></textarea>
        </div>
        <div class="grid-container-textarea blk">
          <label for="text" class="i100 ft5 mb1">Today I am grateful for:</label>
          <textarea type="text" name="grateful" cols="50" rows="6" class="mt1"></textarea>
        </div>
        <div class="grid-container-textarea blk mr3">
          <label for="text" class="i100 ft5 mb1">Today's Threats:</label>
          <textarea type="text" name="threats" cols="50" rows="6" class="mt1"></textarea>
        </div>
        <div class="grid-container-textarea blk">
          <label for="text" class="i100 ft5 mb1">Today's to-dos:</label>
          <textarea type="text" name="todos" cols="50" rows="6" class="mt1"></textarea>
        </div>
        <button class="blk2 btn ft6 uppercase" type="submit">chronicle</button>
      </form>
    </div>
  </section>
</main>
