<main class="main-content df">
  <%- include('./partials/nav.ejs') %>

  <section class="grid-container">
    <div class="frame--stay pa4">
      <%results.forEach(result => {%>
      <ul class="ft5">
        <li class="mt2 fw7">
          <a class="index-entry-text" href="/entry/<%= result.id %>"><%= result.createdAt %></a>
        </li>
      </ul>
      <form action="/entry/<%= result.id %>?_method=DELETE" method="post">
        <button class="btn mt3" type="submit">Remove</button>
      </form>
      <%})%>
    </div>
  </section>
</main>
