@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: #f0f2f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.side-nav {
  width: 200px;
  height: 100vh;
  background-color: #404653;
}
.user-welcome {
  color: rgb(90, 231, 177);
}
.user-options {
  height: 220px;
}

.user-choice {
  width: 130px;
  margin: 0 auto;
}

.user-text,
i,
a,
.user-name {
  color: #c4c9d4;
}

.container-sign-up,
.container-login {
  height: 90vh;
}

.container-sign-up-left,
.container-login-left {
  width: 400px;
  height: 400px;
  padding: 20px;
  background-color: #363c49;
  border-radius: 20px;
  margin-right: 15px;
}

.container-sign-up-left--title,
.container-login-left--title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.container-sign-up-left form label,
.container-login-left form label {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
  color: #fff;
  letter-spacing: 1px;
}

.container-sign-up-left form input,
.container-login-left form input {
  padding: 5px;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
}

.container-sign-up-left button,
.container-login-left button {
  font-family: 'Noto Sans', sans-serif;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
  width: 50%;
  margin: 20px auto;
  transition: all ease-in-out 0.1;
}

.container-sign-up-left button:focus,
.container-login-left button:focus {
  transform: translateY(3px);
}

.container-sign-up-right,
.container-login-right {
  width: 400px;
  height: 400px;
}

.container-sign-up-right--title,
.container-login-right--title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 2px;
  height: 80px;
}

.container-sign-up-right--description {
  height: 320px;
  width: 320px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.main-content {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  background-color: #f0f2f4;
}
